body{
    margin: 0;
    padding: 0;
    background-color:#d6d4e0;
}
.btn-container{
    text-align: center;
    margin-top: 150px;
    height: 350px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: white;
}
.login-header{
    background-color: cornflowerblue;
    margin: 0;
    height: 50px;  
    padding-top: 20px;
}
.btn-container .admin-btn{
    margin-top: 70px;
    height: 40px;
    border-radius: 5%;
    background-color: cornflowerblue;
    color: white;
}
.btn-container .user-btn{
    margin-top: 50px;
    height: 40px;
    border-radius: 5%;
    background-color: cornflowerblue;
    color: white;
}
h1{
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}
.task-header{
    height: 80px;
    background-color: cornflowerblue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.btn-logoff{
    margin-top: 20px;
    margin-left: 20px;
    background-color: cornflowerblue;
    color: white;
    height: 40px;
}
.logoff-container{
    height: 80px;
    background-color: white;
}
.task-container{
    height: 200px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}
.task-container h2{
    height: 40px;
    background-color: cornflowerblue;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
.task-container p{
    padding-left: 20px; 
}
.task-container a{
    margin-left: 20px; 
}
.task-container a:link{
    text-decoration: none;
}
.add-task{
    text-align: center;
}
.add-task p{
    margin: 0;
}
.add-task input{
    width: 233px;
}
.form-container{
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    width: 400px;
    background-color: cornflowerblue;
}
.users-task-container{
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}
.users-task-container h2{
    text-align: center;
    padding-top: 10px;
    
}
.users-task-container a:link{
   text-decoration: none; 
}
.update-container{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 400px;
    background-color: cornflowerblue;
}
.update-input{
    height: 150px;
}